.dashboard-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f8ff;  */
    /* background-image: url('https://www.transparenttextures.com/patterns/food.png');  */
  }
  
  .card {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffebcd; /* Soft color */
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .card-content {
    text-align: center;
    padding: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun font */
  }
  
  .user-card {
    background-color: #ffd700; /* Golden for Users */
  }
  
  .pets-card {
    background-color: #98fb98; /* Light green for Pets */
  }
  
  .card:hover {
    transform: translateY(-5px);
    background-color: #ffdab9; /* Lighter color on hover */
  }
  