/* Background and general styling */
.vh-100 {
    min-height: 100vh; /* Allows the section to grow with content */

    color: #00FFDD;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding does not affect width calculations */
}

/* Card styling */
.card {
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    width: 80%; /* Decrease the card width */
    max-width: 600px; /* Set a maximum width */
    margin: auto; /* Center align the card */
    padding: 20px; /* Add padding inside the card */
}


/* .card-body{
    background-color: var(--light-secondary-bg);
} */

/* Heading styling */
.h1 {
    color: #FF00FF;
    text-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
}

/* Form control styling */
.form-outline .form-control {
    border-radius: 15px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: #00FFFF;
    box-shadow: inset 0 0 10px rgba(0, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    width: 100%; /* Adjust text box width */
    max-width: 400px; /* Set a maximum width for text boxes */
}

/* Form labels */
.form-outline .form-label {
    color: #FFFFFF;
    text-shadow: 0 0 5px #FF00FF;
}

/* Button styling */
.btn-primary {
    background-color: #FF00FF;
    border-radius: 20px;
    box-shadow: 0 0 20px #FF00FF;
    color: #FFFFFF;
    text-shadow: 0 0 5px #00FFFF;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #00FFFF;
    box-shadow: 0 0 20px #00FFFF;
}

/* Checkbox styling */
.form-check-input {
    border-radius: 50%;
    background-color: #FF00FF;
}

/* Link styling */
.form-check-label a {
    color: #00FFFF;
    text-shadow: 0 0 10px #00FFFF;
}

p.mb-0 a {
    color: #FF00FF;
    text-shadow: 0 0 10px #FF00FF;
}

/* GIF styling */
.custom-gif {
    max-width: 100%;
    height: auto;
    width: 100%;
    max-width: 300px;
}

/* Neon input styling */
.neon-input {
    border: 2px solid #00FFFF;
    border-radius: 15px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: #00FFFF;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    transition: box-shadow 0.3s ease;
    width: 100%; /* Adjust text box width */
    max-width: 400px; /* Set a maximum width for text boxes */
}

.neon-input:focus {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
    border-color: #00FFFF;
}

/* Neon button styling */
.neon-button {
    background-color: #FF00FF;
    border-radius: 20px;
    color: #FFFFFF;
    text-shadow: 0 0 10px #00FFFF;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
    transition: all 0.3s ease;
}

.neon-button:hover {
    background-color: #00FFFF;
    color: #000000;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
}

/* Stepper styling */
.web3-theme .mat-step-header {
    color: #00FFFF;
    border-radius: 25px;
}

.web3-theme .mat-step-icon {
    color: #FF00FF;
}

.web3-theme .mat-step-label {
    color: #00FFFF;
}
