/* General Styling */
.home-container {
    border-radius: 15px;
    padding: 20px;
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
    60% { transform: translateY(-10px); }
}

.lead {
    color: var(--neon-pink);
    font-weight: bold;
}

/* Card Styles */
.card-square {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(10, 10, 10, 0.8);
    border: 1px solid var(--neon-blue);
    transition: all 0.3s ease;
}

.card-square:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--neon-blue);
}

.card-square .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.dark-theme .card-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--neon-blue);
}
body.light-theme .card-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--neon-pink);
}

.card-text {
    color: var(--text-color);
}

/* Button Styles */
.btn {
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid var(--neon-green);
    color: var(--neon-green);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--neon-green);
    color: var(--text-color);
    box-shadow: 0 0 15px var(--neon-green);
}

.btn-adopt {
    border-color: var(--neon-pink);
    color: var(--neon-pink);
}

.btn-adopt:hover {
    background-color: var(--neon-pink);
    box-shadow: 0 0 15px var(--neon-pink);
}

.btn-my-pets {
    border-color: var(--neon-blue);
    color: var(--neon-blue);
}

.btn-my-pets:hover {
    background-color: var(--neon-blue);
    box-shadow: 0 0 15px var(--neon-blue);
}

/* News Feed Styles */
.card-news-feed {
    background-color: rgba(10, 10, 10, 0.8);
    border: 1px solid var(--neon-green);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.3);
}


.list {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
}

.list li {
    padding: 10px 0;
    border-bottom: 1px dashed var(--neon-green);
}

.list li:last-child {
    border-bottom: none;
}