<div class="adoption-center">
  <h2 class="text-center">Available Pets for Adoption</h2>
  <div class="slider-container">
    <button class="slider-btn prev-btn" (click)="slideLeft()">&#8249;</button>
    <div class="pet-slider">
      <div
        class="pet-card"
        *ngFor="let pet of visiblePets"
      >
        <img src="assets/images/default.jpg" class="pet-image" />
        <div class="card-content">
          <h3 class="petcard-title">{{ pet.petName }}</h3>
          <p class="petcard-text">{{ pet.species }} - {{ pet.breed }}</p>
          <p class="petcard-text">Age: {{ pet.age }} years</p>
          <p class="petcard-text">Gender: {{ pet.gender }}</p>
          <div class="card-buttons">
            <button class="btn details-btn">Details</button>
          </div>
        </div>
      </div>
    </div>
    <button class="slider-btn next-btn" (click)="slideRight()">&#8250;</button>
  </div>
</div>
