<div class="night-sky">
    <div class="stars"></div>
    <div class="shooting-stars"></div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">🐾 Virtual Pet Sanctuary</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/adoption-center" class="btn btn-adopt">Adoption Center</a>
            </li>
            <li class="nav-item">
                <a routerLink="/my-pets" class="btn btn-my-pets">My Pets</a>
            </li>
            <li class="nav-item">
                <a routerLink="/sign-up" class="btn btn-sign-up">Sign Up</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login" class="btn btn-login">Log in</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
