/* SVG Background */
svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.out-top {
    animation: rotate 20s linear infinite;
    transform-origin: 13px 25px;
}

.in-top {
    animation: rotate 10s linear infinite;
    transform-origin: 13px 25px;
}

.out-bottom {
    animation: rotate 25s linear infinite;
    transform-origin: 84px 93px;
}

.in-bottom {
    animation: rotate 15s linear infinite;
    transform-origin: 84px 93px;
}

body[data-theme='dark'] {
    background-color: #191921;
    color: #fff;
}

body[data-theme='light'] {
    background-color: #fff;
    color: #000;
}

/* Additional dark mode specific styles */
body[data-theme='dark'] .navbar {
    background-color: #333;
}

body[data-theme='dark'] .navbar .navbar-brand,
body[data-theme='dark'] .navbar .btn {
    color: #fff;
}

body[data-theme='dark'] .navbar .btn-primary {
    background-color: #007bff;
}

body[data-theme='dark'] .navbar .btn-danger {
    background-color: #d6336c;
}
