/* Night sky background */
.night-sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(125deg, #000033, #000066);
  overflow: hidden;
  z-index: -1; /* Ensure the background stays behind other elements */
}

/* Toaster CSS */
.toast-container {
  z-index: 1000; /* Ensure toasts appear above other elements */
}

.custom-toast {
  color: #fff;
  border-radius: 25px; /* Rounded corners */
  padding: 20px; /* Added padding for better spacing */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Stronger shadow for a more prominent look */
  animation: slideInRight 0.5s, fadeOut 2.5s 3s forwards;
  z-index: 1001; /* Ensuring it's on top of most other elements */
  position: relative;
  font-size: 1.2rem; /* Adjusted font size for better readability */
  line-height: 1.6; /* Improved line spacing for better text visibility */
  background-size: cover; /* Ensure background covers entire area */
  overflow: hidden; /* Hide overflow to prevent content from spilling out */
}

/* Error Toast */
.toast-error {
  background-image: linear-gradient(135deg, #f1071b, #ff9271); /* Red to Orange gradient */
}

/* Success Toast */
.toast-success {
  background-image: linear-gradient(135deg, #00c853, #b2ff59af); /* Green to Light Green gradient */
}

/* Info Toast */
.toast-info {
  background-image: linear-gradient(135deg, #2196f3, #083c53); /* Blue gradient */
}

/* Warning Toast */
.toast-warning {
  background-image: linear-gradient(135deg, #ff9800, #ffc107); /* Orange gradient */
}

@keyframes slideInRight {
  from {  
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes fadeOut {
  to {
      opacity: 0;
      transform: translateX(100%);
  }
}

.toast-top-right {
  top: 20px;
  right: 20px;
  position: fixed;
}

.toast-progress {
  background: linear-gradient(90deg, #ff007f, #00f);
  height: 5px;
  border-radius: 0 0 25px 25px;
}

