/* Container styling */
.container {
  padding: 15px;
  /* background-color: var(--secondary-bg); */
  border-radius: 15px;
  box-shadow: 0 0 15px var(--neon-blue);
  font-family: 'Orbitron', sans-serif;
  max-width: 600px;
  margin: auto;
}

/* Title styling */
.title {
  text-align: center;
  color: var(--neon-blue);
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Form styling */
.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 6px;
  color: var(--neon-green);
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--neon-blue);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px var(--neon-green);
  transition: all 0.3s;
  color: white;
}

.form-control:focus {
  border-color: var(--neon-pink);
  background-color: rgba(10, 10, 10, 0.8);
  outline: none;
}

.error-message {
  color: var(--neon-pink);
  font-size: 12px;
  margin-top: 5px;
}

.form-group-error .form-control {
  border-color: var(--neon-pink);
}

/* Button styling */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-button,
.cancel-button {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button {
  background-color: var(--neon-pink);
  color: #fff;
  margin-right: 8px;
}

.submit-button:hover {
  background-color: #e60072;
}

.submit-button.disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.cancel-button {
  background-color: var(--secondary-bg);
  color: #fff;
  border: 2px solid var(--neon-green);
  margin-left: 8px;
}

.cancel-button:hover {
  background-color: #444;
}

/* Responsive styling */
@media (max-width: 600px) {
  .button-group {
    flex-direction: column;
  }

  .submit-button,
  .cancel-button {
    margin: 5px 0;
  }
}
